@use '../utils/variables' as landing;

$mobile: 360px;
$tablet: 768px;
$desktop: 1024px;

.landing-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    margin-top: 7rem;

    // cards
    .landing-content {
        display: flex;
        flex-direction: column;
        margin-top: 4rem;

        .landing-content-text {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            width: 100%;
            padding: 2rem;
            text-align: center;

            h1 {
                font-size: 2.5rem;
                font-weight: landing.$font-weight-bold;
                color: landing.$color-black;
            }
            
            p {
                font-size: 1.2rem;
            }
        }

        // Cards

        .landing-content-cards {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 3rem;
            width: 100%;
            max-width: 1200px;
            margin: 0 auto;
            padding: 2rem;

            .cards-container {
                border: 1px solid #000;
                border-radius: 1rem;
                padding: 0.5rem;
                width: 20rem;
                height: 25rem;
                display: flex;
                flex-direction: column;
                background-color: landing.$color-white;
                align-items: center;
                justify-content: center;
                gap: 1rem;
                text-align: center; 

                .card-icon {
                    font-size: 3rem;
                    color: #fff;  
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 4rem;  
                    height: 4rem;  
                    background-color: landing.$color-primary;
                    border-radius: 0.5rem;  
                    margin-bottom: 1rem;  
                }

                h3 {
                    font-size: 1.5rem;
                    font-weight: landing.$font-weight-bold;
                    color: landing.$color-black;
                    text-align: center; 
                }
                
                p {
                    font-size: 1rem;
                    font-weight: landing.$font-weight-normal;
                    color: landing.$color-black;
                    text-align: center; 
                    width: 100%; 
                }

                .card-button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;

                    button {  
                        background-color: landing.$color-blue-50;
                        font-size: 1rem;
                        font-weight: landing.$font-weight-normal;
                        color: #fff;
                        border: none;
                        padding: 0.5rem 1rem; 
                        border-radius: 0.25rem; 
                        cursor: pointer; 
                        width: 80%;
                        margin-top: 4rem;
                        text-decoration: none;  
                        text-align: center;     
                        display: block;         
                        
                        &:hover {
                            opacity: 0.9;       
                        }
                    }
                }
               
            }
        }
      
    }
}

// Responsive styles
@media (max-width: $tablet) {
  .landing-container {
    .landing-content {
      margin-top: 2rem;
      .landing-content-text {
        padding: 1rem;
        h1 {
          font-size: 2rem;
        }
        p {
          font-size: 1rem;
        }
      }
      .landing-content-cards {
        flex-direction: column;
        gap: 2rem;
        padding: 1rem 0.5rem;
        .cards-container {
          width: 100%;
          max-width: 22rem;
          height: auto;
          padding: 1rem 0.5rem;
          p {
            text-align: center;
          }
        }
      }
    }
  }
}

@media (max-width: $mobile) {
  .landing-container {
    .landing-content {
      margin-top: 1rem;
      .landing-content-text {
        padding: 0.5rem;
        h1 {
          font-size: 1.3rem;
        }
        p {
          font-size: 0.95rem;
        }
      }
      .landing-content-cards {
        gap: 1rem;
        padding: 0.5rem 0;
        .cards-container {
          width: 100%;
          max-width: 100%;
          padding: 0.5rem 0.2rem;
          .card-icon {
            font-size: 2rem;
            width: 2.5rem;
            height: 2.5rem;
          }
          h3 {
            font-size: 1.1rem;
          }
          p {
            font-size: 0.95rem;
            text-align: center;
          }
          .card-button a {
            font-size: 0.95rem;
            padding: 0.4rem 0.5rem;
            margin-top: 2rem;
          }
        }
      }
    }
  }
}
